In [1]:
import pandas as pd
import sqlalchemy
import os

In [2]:
df = pd.read_csv('regions.csv', sep=',')

In [3]:
df

               Регион         Координаты
0     Санкт-Петербург  [59.9343,30.3351]
1             Барнаул  [53.3606,83.7636]
2              Рязань  [54.6269,39.6916]
3             Саратов  [51.5336,46.0342]
4             Воронеж  [51.6720,39.1843]
..                ...                ...
467          Тольятти  [53.5078,49.4204]
468   Томская область  [56.4846,84.9476]
469  Тосненский район  [59.5400,30.8800]
470             Тосно  [59.5400,30.8800]
471            Туапсе  [44.0968,39.0735]

[472 rows x 2 columns]

In [4]:
HOST = os.environ['HOST']
PORT = os.environ['PORT']
DATABASE = os.environ['DATABASE']
LOGIN = os.environ['LOGIN']
PASSWORD = os.environ['PASSWORD']

engine = sqlalchemy.create_engine(f'postgresql://{LOGIN}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}')

In [6]:
table_name = 'regions'
schema_name = 'ormed'

df.to_sql(con=engine, name = table_name, schema=schema_name, index=False, if_exists='replace')

472